<template>
    <layout>
        <el-container>
            <div style="flex-direction: column; justify-content: space-between; width: 100%">
                <div style="padding-bottom: 0.5em">
                    <el-card shadow="never">
                        <div>
                            <span>Ajustes</span>
                            <el-button style="float: right; padding: 3px 0"
                                       type="text" icon="fas fa-angle-down"
                                       @click="toggleSettings"></el-button>
                        </div>
                        <div v-if="showSettings">
                            <el-divider></el-divider>

                            <el-form label-position="top" ref="form" :model="settings" :rules="rules">
                                <el-row :gutter="20">
                                    <el-col :xl="12" :lg="12" :md="12" :sm="12" :xs="24">
                                        <el-form-item prop="video_id" label="Video a mostrar">
                                            <el-input type="text" v-model="settings.video_id" placeholder="Id del Video"
                                                      autocomplete="off" clearable></el-input>
                                        </el-form-item>
                                    </el-col>
                                    <el-col :xl="12" :lg="12" :md="12" :sm="12" :xs="24">
                                        <el-form-item prop="countdown_time" label="Tiempo de los cultos">
                                            <el-time-select
                                                v-model="settings.countdown_time"
                                                :picker-options="{start: '08:00', step: '00:30', end: '24:00'}"
                                                placeholder="Select time">
                                            </el-time-select>
                                        </el-form-item>
                                    </el-col>
                                </el-row>
                                <el-row :gutter="20">
                                    <el-col :xl="12" :lg="12" :md="12" :sm="12" :xs="24">
                                        <el-form-item prop="topic_title" label="Titlo del Tema">
                                            <el-input type="text" v-model="settings.topic_title" placeholder="Titulo"
                                                      autocomplete="off" clearable></el-input>
                                        </el-form-item>
                                    </el-col>
                                    <el-col :xl="12" :lg="12" :md="12" :sm="12" :xs="24">
                                        <el-form-item prop="topic_desc" label="Descripcion del Tema">
                                            <el-input type="textarea" v-model="settings.topic_desc"
                                                      placeholder="Descripcion"
                                                      autocomplete="off" clearable></el-input>
                                        </el-form-item>
                                    </el-col>
                                </el-row>
                                <el-row :gutter="20">
                                    <el-col :xl="6" :lg="6" :md="12" :sm="12" :xs="24">
                                        <el-form-item prop="topic_title" label="Titlo de Opciones">
                                            <el-input type="text" v-model="settings.options_title" placeholder="Titulo"
                                                      autocomplete="off" clearable></el-input>
                                        </el-form-item>
                                    </el-col>
                                    <el-col :xl="6" :lg="6" :md="12" :sm="12" :xs="24">
                                        <el-form-item prop="option_1" label="Opcion 1">
                                            <el-input type="textarea" v-model="settings.option_1" placeholder="Opcion 1"
                                                      autocomplete="off" clearable></el-input>
                                        </el-form-item>
                                    </el-col>
                                    <el-col :xl="6" :lg="6" :md="12" :sm="12" :xs="24">
                                        <el-form-item prop="option_2" label="Opcion 2">
                                            <el-input type="textarea" v-model="settings.option_2" placeholder="Opcion 2"
                                                      autocomplete="off" clearable></el-input>
                                        </el-form-item>
                                    </el-col>
                                    <el-col :xl="6" :lg="6" :md="12" :sm="12" :xs="24">
                                        <el-form-item prop="option_3" label="Opcoin 3">
                                            <el-input type="textarea" v-model="settings.option_3" placeholder="Opcion 3"
                                                      autocomplete="off" clearable></el-input>
                                        </el-form-item>
                                    </el-col>
                                </el-row>

                            </el-form>
                            <span slot="footer">
                                <el-button
                                    class="login-button"
                                    type="warning"
                                    :loading="loading"
                                    @click="submit()">
                                    <span class="icon-question">Guardar</span>
                                    <i class="fas fa-save"></i>
                                </el-button>
                            </span>
                        </div>
                    </el-card>
                </div>

                <div style="width: 100%">
                    <el-card shadow="never">
                        <div>
                            <el-form ref="filtersForm">
                                <el-row>
                                    <el-col :xl="18" :lg="18" :md="24" :sm="24" :xs="24">
                                        <el-form-item label-position="right" prop="country" label="Filtrar por País">
                                            <el-select v-model="country" placeholder="País">
                                                <el-option
                                                    v-for="item in countries"
                                                    :key="item.id"
                                                    :label="item.name"
                                                    :value="item.id">
                                                </el-option>
                                            </el-select>
                                        </el-form-item>
                                    </el-col>
                                    <el-col style="text-align: right" :xl="3" :lg="3" :md="12" :sm="12" :xs="12">
                                        <el-form-item>
                                            <el-button :loading="loadingFilterBtn" type="primary" @click="getAll">
                                                Limpiar Filtro
                                            </el-button>
                                        </el-form-item>
                                    </el-col>
                                    <el-col style="text-align: right" :xl="3" :lg="3" :md="12" :sm="12" :xs="12">

                                        <a class="el-button el-button--warning" :href="'/download/' + this.country">Descargar
                                            Reporte</a>

                                    </el-col>
                                </el-row>
                                <el-row class="fa-pull-right">
                                    <p>Total de Respuestas: {{forms.length}}</p>
                                </el-row>
                            </el-form>
                        </div>

                        <el-table
                            :data="forms"
                            stripe
                            height="700"
                            style="width: 100%">
                            <el-table-column
                                label="Opcion 1">
                                <template slot-scope="scope">
                                    {{ (scope.row.option_1 === 1) ? 'Si' : 'No' }}
                                </template>
                            </el-table-column>
                            <el-table-column
                                label="Opcion 2">
                                <template slot-scope="scope">
                                    {{ (scope.row.option_2 === 1) ? 'Si' : 'No' }}
                                </template>
                            </el-table-column>
                            <el-table-column
                                label="Opcion 3">
                                <template slot-scope="scope">
                                    {{ (scope.row.option_3 === 1) ? 'Si' : 'No' }}
                                </template>
                            </el-table-column>
                            <el-table-column
                                prop="name"
                                label="Nombre">
                            </el-table-column>
                            <el-table-column
                                prop="lastname"
                                label="Apellido">
                            </el-table-column>
                            <el-table-column
                                prop="phone"
                                label="Telefono">
                            </el-table-column>
                            <el-table-column
                                prop="email"
                                label="Correo">
                            </el-table-column>
                            <el-table-column label="Pais">
                                <el-table-column
                                    label="Pais">
                                    <template slot-scope="scope">
                                        {{scope.row.country.name}}
                                    </template>
                                </el-table-column>
                                <el-table-column
                                    prop="country_other"
                                    label="Otro">
                                </el-table-column>
                            </el-table-column>
                            <el-table-column
                                prop="age"
                                label="Edad">
                            </el-table-column>
                            <el-table-column
                                prop="adventist"
                                label="Adventista">
                            </el-table-column>
                            <el-table-column
                                prop="study"
                                label="Estudia la Biblia">
                            </el-table-column>
                            <el-table-column
                                prop="petition"
                                label="Petición">
                            </el-table-column>
                            <el-table-column
                                prop="date_answered"
                                label="Fecha">
                            </el-table-column>
                        </el-table>
                    </el-card>
                </div>
            </div>
        </el-container>
    </layout>
</template>
<script>
    import Layout from "../../Shared/Layout";

    export default {
        components: {
            Layout,
            fileDownload
        },
        props: {
            flash: Object
        },
        data() {
            return {
                forms: [],
                filtered: [],
                countries: [],
                settings: {},
                showSettings: false,
                loadingFilterBtn: false,
                form: {
                    video_id: '',
                    countdown_time: '',
                },
                country: '',
                rules: {
                    video_id: {required: true, message: 'Este campo es requerido', trigger: 'blur'},
                    countdown_time: {required: true, message: 'Este campo es requerido', trigger: 'blur'},
                },
                loading: false,
            }
        },
        methods: {
            getAll() {
                this.loadingFilterBtn = true;
                this.$inertia.replace('/getall', {method: 'get'})
                    .then(() => {
                        if (this.$page.prop.flash.success) {
                            this.forms = this.$page.prop.flash.success[0];
                        }
                        this.loadingFilterBtn = false;
                        this.country = null;
                    });
            },
            toggleSettings() {
                if (this.showSettings) {
                    this.showSettings = false;
                } else {
                    this.showSettings = true;
                }
            },
            submit() {
                this.$refs.form.validate((valid) => {
                    if (valid) {
                        this.loading = false;
                        if (!this.settings.id) {
                            this.$inertia.post('/settings',
                                this.settings
                            ).then(
                                () => {
                                    this.$message({
                                        message: 'Guardado con exito',
                                        type: 'success'
                                    })
                                    this.loading = false
                                },
                                (res) => {
                                    this.$message({
                                        message: 'Ha sucedido un error, intente de nuevo',
                                        type: 'error'
                                    })
                                }
                            )
                        } else {
                            this.$inertia.post('/settings/' + this.settings.id,
                                this.settings
                            ).then(
                                () => {
                                    this.$message({
                                        message: 'Actualizado con exito',
                                        type: 'success'
                                    })
                                    this.loading = false
                                },
                                (res) => {
                                    this.$message({
                                        message: 'Ha sucedido un error, intente de nuevo',
                                        type: 'error'
                                    })
                                }
                            )
                        }

                    } else {
                        return false;
                    }

                });
            },
        },
        watch: {
            country: function (val) {
                let self = this;
                if (self.country !== null) {
                    this.$inertia.replace('/filter/' + self.country, {method: 'get'})
                        .then(function (response) {
                            if (self.$page.prop.flash.success) {
                                self.forms = self.$page.prop.flash.success[0];
                            }
                        });
                }

            },
        },
        mounted() {
            if (this.$page.forms) {
                this.forms = this.$page.forms
            }
            if (this.$page.countries) {
                this.countries = this.$page.countries
            }
            if (this.$page.settings) {
                this.settings = this.$page.settings
            }
            document.title = `Admin`;
        }
    }
</script>

