// Body
$body-bg: #e6e9ed;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

//Template Colors
$tem_main_blue: #1E3260;
$tem_med_blue: #3A5697;
$tem_lgt_blue: #557CD5;
$tem_yellow:  #ffa92d;
$tem_sdk_gray: #545454;
$tem_dk_gray: #828282;
$tem_mdk_gray: #BFBFBF;
$tem_med_gray: #DEDEDE;
$tem_lgt_gray: #F6F6F6;
$white: #FFFFFF;
$tem_red: #FF4500;

$tem_sch_lgt_blue: #42c6f3;
$tem_sch_yellow: #ffca06;
$tem_un_teal: #3e8391;

$gray-1: #f5f7fa;
$gray-2: #e6e9ed;
$gray-3: #ccd1d9;
$gray-4: #aab2bd;
$gray-5: #656d78;
$gray-6: #434a54;
