body, html {
    margin: 0;
    padding: 0;
    font-family: "Arial";
}

html, body, #app, .main-layout {
    height: 100%;
    font-family: "Arial";
}

body {
    background-color: $tem_lgt_gray;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 2em 3em;
    width: auto;
}

.card-info {
    margin: 2em 3em;
    width: auto;
}

.vertical-center {
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.login-icon {
    color: $gray-4;
}

//Layout
.img-dash {
    width: 53px;
    margin-left: 3%;
}

.el-header {
    background-color: $tem_un_teal;
    //height: 12%;
    //z-index: 1;
    //top: 0;
    //left: 0;
    //z-index: 1;
}

.header-title {
    font-family: "Times New Roman", Times, serif;
    font-size: 28px;
    color: white;
    padding-top: 0.5em;
}

.logout {
    border: none !important;
    background: transparent !important;
    color: white !important;
}

.loginbtn {
    color: white !important;
}

.loginbtn:focus {
    color: $gray-1 !important;
}

.logout:hover {
    background: lighten($tem-un_teal, 10) !important;
    color: white !important;
}

.logout:focus {
    color: white !important;
}

.el-menu-layout {
    background: $gray-1 !important;
    position: absolute !important;
    top: 0;
    left: 0;
    height: 100%;
    width: 200px !important;
}

.menu-icon {
    width: 25%;
}

.el-menu-item {
    height: 45px !important;
    padding-right: 30% !important;
    padding-left: 10% !important;
    background: $gray-1 !important;

    .hover {
        background: $indigo !important;
        color: $gray-6;
    }

    .is-active {
        background: $indigo !important;
        color: $gray-6;
    }
}

.el-aside {
    width: 200px !important;
    height: 100% !important;
}

.menu-label {
    padding-right: 10%;
    padding-left: 10%;
    vertical-align: center;
}

//survey portion
.main_coverage {
    border: 8px solid transparent;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-radius: 5px;
    height: fit-content;
    width: 48%;
    display: flex;
    flex-direction: column;
    background-color: $tem_main_blue;
}

.sidebar {
    background-color: $tem_main_blue;
    margin: 0;
    padding: 0;
}

.field {
    border-radius: 5px;
    background-color: white;
    width: auto;
    padding: 1em;

}

.elements_container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 1em;
}

.el-table thead {
    color: black !important;
}

// Buttons
.el-button {
    border-radius: 10px !important;

    &.el-button--warning {
        background-color: $tem_yellow !important;
        border-color: $tem_yellow !important;
        color: $tem_main_blue !important;

        &:hover {
            background-color: lighten($tem_yellow, 10) !important;
            border-color: lighten($tem_yellow, 10) !important;
            color: $tem_main_blue !important;
        }

        &:focus {
            background-color: lighten($tem_yellow, 10) !important;
            border-color: lighten($tem_yellow, 10) !important;
            color: $tem_main_blue !important;
        }
    }

    &.el-button--primary {
        background: $tem_lgt_blue;
        border-color: $tem_lgt_blue;
        color: white;

        &:hover {
            background-color: lighten($tem_lgt_blue, 10);
            border-color: lighten($tem_lgt_blue, 10);
            color: white;
        }

        &:focus {
            background-color: lighten($tem_lgt_blue, 10);
            border-color: lighten($tem_lgt_blue, 10);
            color: white;
        }

    }
    &.el-button--primary.is-disabled {
        color: white;
        background-color: lighten($tem_lgt_blue, 20);
        border-color: lighten($tem_lgt_blue, 20);

        &:hover {
            background-color: lighten($tem_lgt_blue, 25);
            border-color: lighten($tem_lgt_blue, 25);
            color: white;
        }
    }

    &.el-button--info {
        background: $tem_med_gray;
        border-color: $tem_med_gray;
        color: $tem_main_blue;

        &:hover {
            background-color: lighten($tem_med_gray, 5);
            border-color: lighten($tem_med_gray, 5);
            color: $tem_main_blue;
        }

        &:focus {
            background-color: lighten($tem_med_gray, 5);
            border-color: lighten($tem_med_gray, 5);
            color: $tem_main_blue;
        }
    }
}

//form items
.el-checkbox__input.is-checked .el-checkbox__inner {
    border-color: $tem_sch_lgt_blue !important;
    background: $tem_sch_lgt_blue !important;
}

.el-checkbox__inner:hover {
    border-color: $tem_sch_lgt_blue !important;
}

.el-radio__input.is-checked .el-radio__inner {
    border-color: $tem_sch_lgt_blue !important;
    background: $tem_sch_lgt_blue !important;
}

.el-radio__input.is-checked + .el-radio__label {
    color: $tem_sch_lgt_blue !important;
}

.el-select .el-input.is-focus .el-input__inner {
    border-color: $tem_sch_lgt_blue !important;
}

.el-select .el-input__inner:focus {
    border-color: $tem_sch_lgt_blue !important;
}

.el-select-dropdown__item.selected {
    color: $tem_sch_lgt_blue !important;
    font-weight: 700;
}

.el-input.is-focus .el-input__inner {
    border-color: $tem_sch_lgt_blue !important;
}

.el-input__inner:focus {
    border-color: $tem_sch_lgt_blue !important;
}

.el-textarea__inner:focus {
    border-color: $tem_sch_lgt_blue !important;
}

.el-link.el-link--default {
    color: black !important;
}

.el-link.el-link--default:hover {
    color: #557CD5 !important;
}

.el-dropdown-menu__item:hover {
    color: $tem_sch_lgt_blue !important;
    background-color: lighten($tem_sch_lgt_blue, 35) !important;
}

//countdown
.countdown-name {
    display: inline-block;
    font-size: 1em;
    list-style-type: none;
    padding: 1em;
    text-align: center;
    color: $tem_un_teal !important;
    text-transform: uppercase;
}

.countdown-num {
    display: block;
    font-size: 4.5rem;
    color: $tem_un_teal !important;
}

.form-container {
    background-color: white;
}

.youtube-container {
    width: 48%;
}

.icon-question {
    margin-right: 5px;
}

.banner {
    font-family: "Edwardian Script ITC", Times, cursive;
}

//page size
@media ('max-width: 1600px') {

}

@media ('max-width: 1500px') {

}

@media ('max-width: 1450px') {

}

@media ('max-width:1400px') {

}

@media ('max-width:1300px') {

}

@media ('max-width:1220px') {

}

@media ('max-width:1150px') {

}

@media ('max-width:1100px') {
    .container {
        margin: 1em;
        flex-direction: column;
        align-content: space-between;
    }
    .card-info {
        margin: 1em;
    }
    .main_coverage {
        width: auto;
    }
    .youtube-container {
        width: auto;
    }
    .field {
        padding-bottom: 1em;
    }
}

@media ('max-width:1050px') {

}

@media('max-width:1000px') {

}

@media('max-width:950px') {

}

@media('max-width:900px') {

}

@media('max-width:929px') {

}

@media ('max-width:890px') {

}

@media ('max-width:850px') {

}

@media ('max-width:810px') {

}

@media ('max-width:790px') {

}

@media('max-width:767px') {

}

@media('max-width: 725px') {

}

@media ('max-width:670px') {

}

@media('max-width:650px') {
    .countdown-num {
        font-size: 4em;
    }
    .header-title {
        font-size: 20px;
    }
}

@media('max-width:625px') {

}

@media('max-width:550px') {
    .countdown-num {
        font-size: 3em;
    }
    .icon-question {
        display: none;
        margin: 0;
    }
    .header-title {
        font-size: 18px;
    }
}

@media('max-width:500px') {
    .icon-question {
        display: none;
    }
}

@media('max-width:430px') {
    .countdown-num {
        font-size: 2em;
    }
    .icon-question {
        display: none;
    }
}

@media('max-width:375px') {
    .icon-question {
        display: none;
    }
}

@media('max-width:360px') {
    .icon-question {
        display: none;
    }
}

@media('max-width:350px') {
    .icon-question {
        display: none;
    }
}

@media('max-width:320px') {
    .icon-question {
        display: none;
    }
}
