<template>
    <el-container class="main-layout">
        <el-header>
            <el-row class="vertical-center">

                <el-col :xl="20" :lg="20" :md="20" :sm="20" :xs="20">
                    <div class="header-title">Iglesia Adventista del Séptimo Día</div>
                </el-col>
                <el-col :xl="4" :lg="4" :md="4" :sm="4" :xs="4">
                    <el-dropdown class="fa-pull-right" trigger="click">
                        <el-button class="logout"
                                   icon="el-icon-arrow-down">
                            {{$page.prop.auth.user.username}}
                        </el-button>
                        <el-dropdown-menu slot="dropdown">
                            <a href="/logout">
                                <el-dropdown-item>Logout</el-dropdown-item>
                            </a>
                        </el-dropdown-menu>
                    </el-dropdown>
                </el-col>

            </el-row>
        </el-header>
        <el-container>
            <el-main>
                <slot></slot>
            </el-main>
        </el-container>
    </el-container>

</template>
<script>

    export default {
        name: 'layout',
        data() {
            return {}
        },
        watch: {
            title(title) {
                this.updatePageTitle(title)
            },
        },
        methods: {
            updatePageTitle(title) {
                document.title = title ? `${title}` : ''
            },
        },
        mounted() {
            if (this.$page.auth && this.$page.auth.user) {
                console.log(this.$page.auth);
            }
            this.updatePageTitle(this.title);

        }
    }
</script>
