<template>
    <el-container>
        <el-header>
            <el-row class="vertical-center">
                <el-col :xl="22" :lg="22" :md="22" :sm="22" :xs="22">
                    <div class="header-title">Iglesia Adventista del Séptimo Día</div>
                </el-col>
                <el-col :xl="2" :lg="2" :md="2" :sm="2" :xs="2">
                    <el-button class="fa-pull-right loginbtn"
                               type="text"
                               @click="openDialog">
                        Entrar
                    </el-button>
                </el-col>

            </el-row>
        </el-header>

        <div class="container">
            <div class="youtube-container">

                <!--                 <span style="width: 100%; text-align: center">-->
                <!--                     <img style="width: 100%" src="../../../../public/img/banner.jpeg">-->
                <!--                 </span>-->

                <el-card shadow="never" style="width: 100%; border: none;
                background-color: #1E3260; color: #FFF; border-radius: 5px 5px 0 0;
                font-family: Times New Roman, Times, serif; font-size: 20px; text-align: center">
                    <div>
                        UN <span style="font-family: Edwardian Script ITC; font-size: 40px; margin-right: 7px">F</span>UTURO
                        CON
                        <span style="font-family: Edwardian Script ITC; font-size: 40px; margin-right: 5px">E</span>SPERANZA
                    </div>
                    <div>
                        <span>CON EL ORADOR <span style="font-size: 22px">Pr. ROBERT COSTA</span></span>
                    </div>
                </el-card>

                <youtube style="padding: 0; margin: 0" :resize="true" :fit-parent="true"
                         :video-id="videos[index].video_id"
                         ref="youtube"></youtube>

                <el-card shadow="never" style="width: 100%; border: none; background-color: #ffca06; color: #FFF;
                text-align: center; margin-bottom: 0.25em">
                    <el-link :underline="false" @click="download">Descarga Estudios Bíblicos.</el-link>
                </el-card>

                <el-row>
                    <el-col :xl="12" :lg="12" :md="12" :sm="24" :xs="24">
                        <el-button type="primary" :disabled="prevDisabled" @click="prev">
                            <i class="fas fa-arrow-left"></i>
                            <span>Anterior</span>
                        </el-button>
                    </el-col>
                    <el-col style="text-align: right" :xl="12" :lg="12" :md="12" :sm="24" :xs="24">
                        <el-button type="primary" :disabled="nextDisabled" @click="next">
                            <span>Siguiente</span>
                            <i class="fas fa-arrow-right"></i></el-button>
                    </el-col>
                </el-row>

                <div style="text-align: center" v-if="counter">
                    <el-divider/>

                    <h1>Próximo Culto</h1>

                    <countdown :time="computedTime" :key="reloadCounter">
                        <template slot-scope="props">
                            <ul style="padding-inline-start: 0px">
                                <li class="countdown-name"><span class="countdown-num">{{ props.hours }}</span>Horas
                                </li>
                                <li class="countdown-name"><span class="countdown-num">{{ props.minutes }}</span>Minutos
                                </li>
                                <li class="countdown-name"><span class="countdown-num">{{ props.seconds }}</span>Segundos
                                </li>
                            </ul>
                        </template>
                    </countdown>
                </div>
            </div>

            <div class="main_coverage">
                <div class="sidebar">
                    <div class="elements_container">
                        <span style="width: 30%; text-align: center">
                            <img style="width: 80%" src="../../../../public/img/EscritoEsta_Logo.png">
                        </span>
                        <span style="width: 30%; text-align: center">
                            <img style="width: 35%" src="../../../../public/img/IASD_Circulo_Logo.png">
                        </span>
                        <span style="width: 30%; text-align: center">
                            <img style="width: 70%" src="../../../../public/img/UNADECA_Logos_Blanco.png">
                        </span>
                    </div>
                </div>
                <div class="field">
                    <el-form ref="surveyForm" :model="surveyForm" :rules="surveyRules">
                        <h2>{{videos[index].topic_title}}</h2>
                        <p>{{videos[index].topic_desc}}</p>

                        <el-divider></el-divider>
                        <h2>{{videos[index].options_title}}</h2>

                        <el-form-item prop="option_1" style="margin-bottom: 0">
                            <el-checkbox v-model="surveyForm.option_1"/>

                            <span style="padding-left: 0.5em; width: 90%; overflow-wrap: break-word;">
                                {{videos[index].option_1}}
                            </span>
                        </el-form-item>
                        <el-form-item prop="study_ck" style="margin-bottom: 0">
                            <el-checkbox prop="option_2" v-model="surveyForm.option_2"/>

                            <span style="padding-left: 0.5em; width: 90%; overflow-wrap: break-word;">
                                {{videos[index].option_2}}
                            </span>
                        </el-form-item>
                        <el-form-item prop="choice_ck" style="margin-bottom: 0">
                            <el-checkbox prop="option_3" v-model="surveyForm.option_3"/>

                            <span style="padding-left: 0.5em; width: 90%; overflow-wrap: break-word;">
                                {{videos[index].option_3}}
                            </span>
                        </el-form-item>


                        <el-divider></el-divider>

                        <h2>Información de Contacto</h2>
                        <el-row :gutter="20">
                            <el-col :xl="12" :lg="12" :md="12" :sm="24" :xs="24">
                                <el-form-item label-position="right"
                                              label="Nombres" prop="name">
                                    <el-input placeholder="Nombres"
                                              v-model="surveyForm.name"></el-input>
                                </el-form-item>
                            </el-col>
                            <el-col :xl="12" :lg="12" :md="12" :sm="24" :xs="24">
                                <el-form-item label-position="right"
                                              label="Apellidos" prop="lastname">
                                    <el-input placeholder="Apellidos"
                                              v-model="surveyForm.lastname"></el-input>
                                </el-form-item>
                            </el-col>
                        </el-row>

                        <el-row :gutter="20">
                            <el-col :xl="12" :lg="12" :md="12" :sm="12" :xs="24">

                                <el-form-item label-position="right"
                                              :xl="12" :lg="12" :md="12" :sm="12" :xs="24" label="Celular" prop="phone">
                                    <el-input placeholder="Celular" type="phone"
                                              v-model.number="surveyForm.phone"></el-input>
                                </el-form-item>
                            </el-col>

                            <el-col>
                                <el-form-item label-position="right"
                                              label="Correo Electrónico" prop="email">
                                    <el-input placeholder="Correo Electrónico"
                                              v-model="surveyForm.email"></el-input>
                                </el-form-item>
                            </el-col>
                        </el-row>

                        <el-row :gutter="20">
                            <el-col :xl="12" :lg="12" :md="12" :sm="12" :xs="24">
                                <el-form-item label-position="right" prop="country" label="¿De donde eres?">
                                    <el-select style="width: 100%" v-model="surveyForm.country" placeholder="País">
                                        <el-option
                                            v-for="item in countries"
                                            :key="item.id"
                                            :label="item.name"
                                            :value="item.id">
                                        </el-option>
                                    </el-select>
                                </el-form-item>
                            </el-col>
                            <el-col v-if="surveyForm.country === 10" :xl="12" :lg="12" :md="12" :sm="12" :xs="24">
                                <el-form-item label-position="right" prop="country_other" label="Escriba su país">
                                    <el-input v-model="surveyForm.country_other" placeholder="País"></el-input>
                                </el-form-item>
                            </el-col>
                        </el-row>

                        <el-row>
                            <el-col :xl="24" :lg="24" :md="24" :sm="24" :xs="24">
                                <el-form-item prop="age" label="Rango de Edad:">
                                    <el-radio-group v-model="surveyForm.age">
                                        <el-radio label="13 - 17"></el-radio>
                                        <el-radio label="18 - 35"></el-radio>
                                        <el-radio label="36+"></el-radio>
                                    </el-radio-group>
                                </el-form-item>
                            </el-col>
                        </el-row>

                        <el-row>
                            <el-col :xl="24" :lg="24" :md="24" :sm="24" :xs="24">
                                <el-form-item prop="adventist" label="¿Eres Adventista?">
                                    <el-radio-group v-model="surveyForm.adventist">
                                        <el-radio label="Si"></el-radio>
                                        <el-radio label="No"></el-radio>
                                    </el-radio-group>
                                </el-form-item>
                            </el-col>
                        </el-row>

                        <el-row>
                            <el-col :xl="24" :lg="24" :md="24" :sm="24" :xs="24">
                                <el-form-item prop="study" label="¿Quieres estudiar la Biblia?">
                                    <el-radio-group v-model="surveyForm.study">
                                        <el-radio label="Si"></el-radio>
                                        <el-radio label="No"></el-radio>
                                    </el-radio-group>
                                </el-form-item>
                            </el-col>
                        </el-row>

                        <el-row>
                            <el-col :xl="24" :lg="24" :md="24" :sm="24" :xs="24">
                                <el-form-item prop="petition" label="¿Tienes un pedido de oracion?">
                                    <el-input type="textarea"
                                              :rows="2"
                                              v-model="surveyForm.petition"></el-input>
                                </el-form-item>
                            </el-col>
                        </el-row>
                    </el-form>

                    <span class="fa-pull-right" slot="footer">
                        <el-button
                            type="warning"
                            :loading="loadingSurvey"
                            @click="submitSurvey()">
                            <span class="icon-question">Enviar</span>
                            <i class="fas fa-paper-plane"></i>
                        </el-button>
                    </span>
                </div>
            </div>


            <el-dialog
                :visible="dialogFormVisible"
                :show-close="false">

                <el-form label-position="top" ref="loginForm" :model="loginForm" :rules="loginRules">

                    <el-form-item prop="username">
                        <el-input type="text" v-model="loginForm.username" placeholder="Usuario"
                                  autocomplete="off" clearable></el-input>
                    </el-form-item>

                    <el-form-item prop="password">
                        <el-input type="password" show-password v-model="loginForm.password" placeholder="Contraseña"
                                  autocomplete="off" clearable></el-input>
                    </el-form-item>

                </el-form>

                <el-row v-if="$page.prop.errors" class="mb-2">
                    <div v-for="error in $page.prop.errors">
                        <el-alert
                            :closable="false"
                            :title="error[0]"
                            type="error"
                            show-icon>
                        </el-alert>
                    </div>
                </el-row>


                <span slot="footer">
                <el-button
                    class="login-button"
                    type="info"
                    @click="cancel()">
                    <span class="icon-question">Cancelar</span>
                    <i class="fas fa-times-circle"></i>
                </el-button>
                <el-button
                    class="login-button"
                    type="warning"
                    :loading="loadingLogin"
                    @click="submitLogin()">
                    <span class="icon-question">Entrar</span>
                    <i class="fas fa-check-circle"></i>
                </el-button>
            </span>
            </el-dialog>
        </div>


        <el-card shadow="never" class="card-info">
            <div>
                <h2>Llama a este número en tu país para encontrar una iglesia más cercana.</h2>
            </div>
            <div>
                <el-table
                    :data="contacts"
                    style="width: 100%">
                    <el-table-column
                        prop="name">
                    </el-table-column>
                    <el-table-column
                        prop="number">
                    </el-table-column>
                </el-table>
            </div>
        </el-card>

        <footer style="background-color: #ffca06; padding: 0.5em; text-align:center">
            <h3>Diseño y soporte: ISC DEVELOPERS SERVICES (2020)</h3>
        </footer>

    </el-container>
</template>
<script>
    export default {
        data() {
            return {
                counting: false,
                videoId: '',
                loadingLogin: false,
                loadingSurvey: false,
                dialogFormVisible: false,
                counter: false,
                index: 0,
                prevDisabled: true,
                nextDisabled: false,
                videos: [
                    {
                        video_id: 'YpxHYLAgFNY',
                        topic_title: "LA MÁS GLORIOSA ESPERANZA",
                        topic_desc: "Cómo enfrentar el futuro sin temor. El día cuando los problemas terminen y todos nuestros sueños se tornen realidad.",
                        options_title: "MI RESPUESTA DE AMOR A JESÚS",
                        option_1: "El tema de hoy me ha traído esperanza.",
                        option_2: "Quiero prepararme para la Segunda Venida de Cristo.",
                        option_3: "Quiero hacer planes de ser bautizado/a."
                    },
                    {
                        video_id: 'e6LNFgSwAJA',
                        topic_title: "ESPERANZA FRENTE AL DOLOR Y EL SUFRIMIENTO",
                        topic_desc: "Si Dios es bueno, ¿por qué sufren los inocentes? ¿Cómo puede permitirlo un Dios de amor? ¿Cuál es el origen del mal y el dolor? ¿Tendrá fin el mal? Si Dios es poderoso, ¿porqué no destruye a Satanás?",
                        options_title: "MI RESPUESTA DE AMOR A JESÚS",
                        option_1: "Gracias Jesús por venir a rescatarme.",
                        option_2: "Acepto a Jesús como mi Salvador personal.",
                        option_3: "Quiero entregar mi vida y voluntad a Jesús."
                    },
                    {
                        video_id: 'HL-e4D0oLks',
                        topic_title: "ESPERANZA DESDE EL SANTUARIO CELESTIAL",
                        topic_desc: "Las buenas nuevas acerca del Juicio de los siglos. ¿Qué está haciendo Jesús ahora antes de regresar?",
                        options_title: "MI RESPUESTA DE AMOR A JESÚS",
                        option_1: "Hoy acepto a Jesús como mi Salvador y Abogado.",
                        option_2: "Quiero que mi nombre esté en el Libro de la Vida.",
                        option_3: "Quiero hacer planes de ser bautizado/a."
                    },
                    {
                        video_id: 'otEfvqCrRzs',
                        topic_title: "UN CERCO DE AMOR Y ESPERANZA",
                        topic_desc: "La solución divina a la ola de maldad que azota al mundo",
                        options_title: "MI RESPUESTA DE AMOR A JESÚS",
                        option_1: "Acepto a Jesús como mi Savador personal.",
                        option_2: "Por la gracia de Dios quiero guardar su Santa Ley y aceptar el sábado como el día del Señor.",
                        option_3: "Quiero hacer planes de ser bautizado/a."
                    },
                    {
                        video_id: 'I0qxsc7G8Zw',
                        topic_title: "ESPERANZA PARA UN NUEVO COMIENZO",
                        topic_desc: "Tres pasos garantizados por Dios para vivir para siempre",
                        options_title: "MI RESPUESTA DE AMOR A JESÚS",
                        option_1: "Creo en Cristo y acepto su muerte en la cruz.",
                        option_2: "Amo a Cristo y deseo guardar sus mandamientos.",
                        option_3: "Quiero pertenecer a Cristo y ser bautizado."
                    },
                    {
                        video_id: 'eUo9ebLRNCU',
                        topic_title: "UN SOLO DIOS, ¿POR QUÉ TANTAS RELIGIONES?",
                        topic_desc: "¿De dónde salieron? ¿Son todas ellas caminos que conducen al mismo lugar? ¿Es el plan de Dios que haya tal variedad de caminos no importa cuáles sean?",
                        options_title: "MI RESPUESTA DE AMOR A JESÚS",
                        option_1: "Quiero aceptar toda la verdad bíblica",
                        option_2: "Quiero que mi nombre esté en el Libro de la Vida.",
                        option_3: "Quiero prepararme para un próximo bautismo."
                    },
                    {
                        video_id: 'A4j4sqfNqLA',
                        topic_title: "ESPERANZA MÁS ALLÁ DE LA MUERTE",
                        topic_desc: "¿Qué ocurre cuando una persona muere? ¿Hay vida después de la vida? ¿Podemos comunicarnos con nuestros seres queridos que han muerto? ¿Qué son las apariciones?",
                        options_title: "MI RESPUESTA DE AMOR A JESÚS",
                        option_1: "El tema de hoy me ha traído esperanza.",
                        option_2: "Acepto a Jesús quien es la resurrección y la vida.",
                        option_3: "Quiero pertenecer a Cristo y ser bautizado."
                    },
                    {
                        video_id: 'Hc9FxiGrCgg',
                        topic_title: "EL PUEBLO DE LA ESPERANZA",
                        topic_desc: "¿Tiene Dios una iglesia? ¿Podemos identificarla? ¿Son todas ellas caminos que conducen al mismo lugar? ¿Es el plan de Dios que haya tal variedad de caminos no importa cuáles sean?",
                        options_title: "MI RESPUESTA DE AMOR A JESÚS",
                        option_1: "Agradezco a Dios por darme la luz de su Palabra.",
                        option_2: "Quiero ser parte del pueblo de Dios que tiene la fe de Jesús y guarda los mandamientos.",
                        option_3: "Quiero pertenecer a Cristo y ser bautizado."
                    }
                ],
                loginForm: {
                    username: '',
                    password: '',
                },
                loginRules: {
                    username: {required: true, message: 'Este campo es requerido', trigger: 'blur'},
                    password: {required: true, message: 'Este campo es requerido', trigger: 'blur'},
                },
                surveyForm: {
                    topic: 'LA MÁS GLORIOSA ESPERANZA',
                    option_1: false,
                    option_2: false,
                    option_3: false,
                    name: '',
                    lastname: '',
                    phone: '',
                    email: '',
                    country: '',
                    country_other: '',
                    age: '',
                    adventist: '',
                    study: '',
                    petition: '',
                },
                surveyRules: {
                    name: {required: true, message: 'Este campo es requerido', trigger: 'blur'},
                    lastname: {required: true, message: 'Este campo es requerido', trigger: 'blur'},
                    phone: [
                        {required: true, message: 'Este campo es requerido', trigger: 'blur'},
                        {type: 'number', message: 'El numero de telefono debe ser solo numeros', trigger: 'blur'},
                    ],
                    email: {type: 'email', message: 'Este campo debe estar formateado correctamente', trigger: 'blur'},
                    country: {required: true, message: 'Este campo es requerido', trigger: 'blur'},
                    country_other: {required: true, message: 'Este campo es requerido', trigger: 'blur'},
                    adventist: {required: true, message: 'Este campo es requerido', trigger: 'blur'},
                },
                countries: [],
                settings: {},
                hours: [],
                contacts: [
                    {
                        name: 'UNIÓN DE GUATEMALA',
                        number: '+502 2226 3500'
                    },
                    {
                        name: 'UNIÓN DE BELIZE',
                        number: '+501 223-5938'
                    },
                    {
                        name: 'UNIÓN DE EL SALVADOR',
                        number: '+503 2559 2222'
                    },
                    {
                        name: 'UNIÓN DE HONDURAS',
                        number: '+504 2232-0696'
                    },
                    {
                        name: ' UNIÓN DE NICARAGUA Y COSTA RICA',
                        number: '+506 2442 2042'
                    },
                    {
                        name: 'UNIÓN DE PANAMÁ',
                        number: '+507 314-1510'
                    }
                ]
            }
        },
        computed: {
            player() {
                return this.$refs.youtube.player
            },
            computedTime() {
                const now = new Date();
                const todaytime = new Date(now.getFullYear(), now.getMonth(), now.getDate(),
                    this.hours[0], this.hours[1], this.hours[2]);
                let timeLeft = todaytime - now;
                if (timeLeft <= 0) {
                    this.reloadCountdown();
                    const tomorrowtime = new Date(now.getFullYear(), now.getMonth(), now.getDate() + 1,
                        this.hours[0], this.hours[1], this.hours[2]);
                    timeLeft = tomorrowtime - now;
                }

                return timeLeft;
            },
        },
        methods: {
            prev() {
                if (this.index !== 0) {
                    this.index -= 1;
                    this.surveyForm.topic = this.videos[this.index].topic_title;
                    if (this.index !== 7) {
                        this.nextDisabled = false;
                    }
                } else {
                    this.prevDisabled = true;
                }
            },
            next() {
                if (this.index !== 7) {
                    this.index += 1;
                    this.surveyForm.topic = this.videos[this.index].topic_title;
                    if (this.index !== 0) {
                        this.prevDisabled = false;
                    }
                } else {
                    this.nextDisabled = true;
                }
            },
            download() {
                window.open("https://unadecanet-my.sharepoint.com/:f:/g/personal/wcolindres_unadeca_net/EveqlA1N0l5Nt0jSw6HcakcBRWiGpZDT2zSCWQU3JOYs8w?e=kodM5S");
            },
            reloadCountdown() {
                this.reloadCounter += 1;
            },
            startCountdown() {
                this.counting = true;
            },
            handleCountdownEnd() {
                this.reloadCountdown();
                this.counting = true;
            },
            openDialog() {
                this.dialogFormVisible = true;
            },
            cancel() {
                this.loginForm = {
                    username: '',
                    password: ''
                };
                this.dialogFormVisible = false;
            },
            submitLogin() {
                this.$refs.loginForm.validate((valid) => {
                    if (valid) {
                        this.loadingLogin = true;
                        this.$inertia.post('/login', {
                            username: this.loginForm.username,
                            password: this.loginForm.password,
                        }).then(
                            () =>
                                this.loadingLogin = false
                        )
                    } else {
                        return false;
                    }
                });
            },
            reset() {
                this.surveyForm.option_1 = false;
                this.surveyForm.option_2 = false;
                this.surveyForm.option_3 = false;
                this.surveyForm.petition = '';
            },
            submitSurvey() {
                this.$refs.surveyForm.validate((valid) => {
                    if (valid) {
                        this.loadingSurvey = false;
                        this.$inertia.post('/submit',
                            this.surveyForm
                        ).then(
                            () => {
                                this.$message({
                                    message: 'Gracias por responder!',
                                    type: 'success'
                                }),
                                    this.$refs.surveyForm.resetFields(),
                                    // this.reset(),
                                    this.loadingSurvey = false
                            },
                            (res) => {
                                this.$message({
                                    message: 'Ha sucedido un error, intente de nuevo',
                                    type: 'error'
                                })
                            }
                        )
                    } else {
                        return false;
                    }

                });
            },
        },
        mounted() {
            if (this.$page.countries) {
                this.countries = this.$page.countries;
            }
            if (this.$page.settings) {
                this.settings = this.$page.settings;
            }
            if (this.$page.hours) {
                this.hours = this.$page.hours;
            }

            document.title = `Mi Futuro`;
        }
    }
</script>

